@charset "utf-8";

* {
  box-sizing: border-box;
}

/* 基本スタイル（PC向けスタイル） */
html {
  font-size: 14px;
}

/* ヘッダーセクション */
.header {
  width: 100%;
  height: 62px;
  background-color: rgba(255, 255, 255, 1);
}

/* タイトルセクション */
.title-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px){
  .title-section {
    flex-direction: column;
  }
}

.title-img {
  max-width: 460px;
  height: auto;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (max-width: 768px){
  .title-img{
    width: 100%;
  }
}

.title-game-img {
  max-width: 220px;
  height: auto;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (max-width: 768px){
  .title-game-img{
    width: 100%;
  }
}

/* ゲームセクション */
.game-section {
  width: 100%;
  height: auto;
  background-color: rgba(0, 209, 255, 1);
  margin-top: 80px;
}
.game-section-paragraph-1 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 26px;
  text-align: center;
  padding-top: 20px;
}
.game-qr-background {
  width: 253px;
  height: 148px;
  background-position: center;
  background-color: rgba(255, 255, 255, 1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
}
.game-section-paragraph-2 {
  width: 100%;
  color: rgba(0, 209, 255, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 19px;
  text-align: center;
}
.game-qr {
  text-align: center;
}
.game-section-paragraph-3 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 19px;
  text-align: center;
  overflow-wrap: break-word;
}

/* ゲーム解説セクション */
.game-comment-section {
  width: 100%;
  height: auto;
  margin-top: 90px;
}

.game-comment-section-paragraph-1 {
  width: 100%;
  color: rgba(0, 209, 255, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 40px;
  text-align: center;
  overflow-wrap: break-word;
}
@media screen and (max-width: 520px){
  .game-comment-section-paragraph-1{
    font-size: 7vw;
  }
}
.game-comment-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
@media screen and (max-width: 768px) {
  .game-comment-flex {
    flex-direction: column;
  }
}

.game-comments {
  max-width: 416px;
  margin-left: 30px;
  margin-right: 30px;
}
/* @media screen and (max-width: 768px) {
  .game-comments {
    width: 100%;
  }
} */

.game-comment-section-paragraph-2 {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  text-align: left;
  overflow-wrap: break-word;
}
@media screen and (max-width: 520px){
  .game-comment-section-paragraph-2{
    font-size: 4vw;
  }
}

.game-comment-section-paragraph-3 {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  text-align: left;
  overflow-wrap: break-word;
  margin-top: 30px;
}
@media screen and (max-width: 520px){
  .game-comment-section-paragraph-3{
    font-size: 4vw;
  }
}

.game-comment-images {
  margin-top: 20px;
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.content-game-img {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 198px;
  height: auto;
}
@media screen and (max-width: 768px){
  .content-game-img{
    width: 100%;
    margin-top: 20px;
  }
}

.result-game-img {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 198px;
  height: auto;
}
@media screen and (max-width: 768px){
  .result-game-img{
    width: 100%;
    margin-top: 20px;
  }
}

/* 企画説明セクション */
.plan-section {
  width: 100%;
  height: auto;
  margin-top: 90px;
}

.plan-section-paragraph-1 {
  width: 100%;
  color: rgba(0, 209, 255, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 40px;
  text-align: center;
  overflow-wrap: break-word;
}
@media screen and (max-width: 520px) {
  .plan-section-paragraph-1 {
    font-size: 7vw;
  }
}
.plan-section-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
@media screen and (max-width: 768px) {
  .plan-section-flex {
    flex-direction: column;
  }
}

.plan-section-comments {
  max-width: 416px;
  margin-left: 30px;
  margin-right: 30px;
}
/* @media screen and (max-width: 768px) {
  .plan-section-comments {
    width: 100%;
  }
} */

.plan-section-paragraph-2 {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  text-align: left;
  overflow-wrap: break-word;
}
@media screen and (max-width: 520px){
  .plan-section-paragraph-2{
    font-size: 4vw;
  }
}

.plan-section-paragraph-3 {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  text-align: left;
  overflow-wrap: break-word;
  margin-top: 30px;
}
@media screen and (max-width: 520px){
  .plan-section-paragraph-3{
    font-size: 4vw;
  }
}

.game-plan-images{
  margin-left: 20px;
  margin-right: 20px;
}
.game-plan-img {
  margin-top: 40px;
  /* margin-left: 20px;
  margin-right: 20px; */
  padding-left: 20px;
  padding-right: 20px;
  max-width: 480px;
  height: auto;
}
@media screen and (max-width: 768px){
  .game-plan-img {
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (max-width: 520px) {
  .game-plan-img {
    width: 100%;
  }
}

/* 関連項目セクション */
.related-item-section {
  width: 100%;
  height: auto;
  margin-top: 90px;
}
.related-item-section-paragraph-1 {
  width: 100%;
  color: rgba(0, 209, 255, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 40px;
  text-align: center;
}
@media screen and (max-width: 520px) {
  .related-item-section-paragraph-1 {
    font-size:7vw;
  }
}

.related-item-section-paragraph-2 {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
  overflow-wrap: break-word;
  margin-top: 40px;
}
@media screen and (max-width: 520px) {
  .related-item-section-paragraph-2 {
    font-size: 3.5vw;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* SNSセクション */
.sns-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
.youtube-icon {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
}
.twitter-icon {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
}

/* フッターセクション */
.footer {
  width: 100%;
  height: 64px;
  margin-top: 50px;
}
.footer-line {
  width: 100%;
  height: 2px;
  background: rgb(238, 238, 238);
}
.copyright {
  width: 100%;
  color: rgb(126, 126, 126);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
@media screen and (max-width: 520px) {
  .copyright {
    font-size: 1vw;
  }
}

a[target="_blank"] {
  padding-right: 18px;
  background: url(../images/icon_blank.png) right center/18px auto no-repeat;
}



@media screen and (max-width: 768px){

}
@media screen and (max-width: 520px) {

}