@charset "utf-8";

* {
  box-sizing: border-box;
}

/* 基本スタイル（PC向けスタイル） */
html {
  font-size: 14px;
}

/* ヘッダーセクション */
.header {
  width: 100%;
  height: 62px;
  background-color: rgba(255, 255, 255, 1);
}
.title-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-logos {
  width: 460px;
}
.title-section-paragraph-1 {
  width: 100%;
  color: rgba(0, 209, 255, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 26px;
  text-align: center;
}
.title-img {
  width: 100%;
  height: auto;
}
.title-game-img {
  width: auto;
  height: auto;
}

/* ゲームセクション */
.game-section {
  width: 100%;
  height: auto;
  background-color: rgba(0, 209, 255, 1);
}
.game-section-paragraph-1 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 26px;
  text-align: center;
}
.game-qr-background {
  width: 253px;
  height: 148px;
  background: rgba(255, 255, 255, 1);
  /* top: 74px;
  left: 473px; */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.game-section-paragraph-2 {
  width: 86px;
  color: rgba(0, 209, 255, 1);
  /* position: absolute; */
  top: 89px;
  left: 557px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: center;
}
.game-qr {
  width: 106px;
  height: 106px;
  background: url("../images/game-qr.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  /* position: absolute; */
  top: 112px;
  left: 547px;
  overflow: hidden;
}
.game-section-paragraph-3 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 19px;
  text-align: center;
  overflow-wrap: break-word;
}

/* ゲーム解説セクション */
.game-comment-section {
  width: 100%;
  height: auto;
}
.game-comment-section-paragraph-1 {
  width: 100%;
  color: rgba(0, 209, 255, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 40px;
  text-align: center;
  overflow-wrap: break-word;
}
.game-comment-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-comments {
  width: 416px;
}
.game-comment-section-paragraph-2 {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  text-align: left;
  overflow-wrap: break-word;
}
.game-comment-section-paragraph-3 {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  text-align: left;
  overflow-wrap: break-word;
}
.content-game-img {
  /* width: auto;
  height: auto; */
}
.result-game-img {
  /* width: auto;
  height: auto; */
}

/* 企画説明セクション */
.plan-section {
  width: 100%;
  height: auto;
}
.plan-section-paragraph-1 {
  width: 100%;
  color: rgba(0, 209, 255, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 40px;
  text-align: center;
}
.plan-section-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.plan-section-comments {
  width: 416px;
}
.plan-section-paragraph-2 {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  text-align: left;
  overflow-wrap: break-word;
}
.plan-section-paragraph-3 {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  text-align: left;
  overflow-wrap: break-word;
}
.game-plan-img {
  /* width: auto;
  height: auto; */
}

/* 関連項目セクション */
.related-item-section {
  width: 100%;
  height: auto;
}
.related-item-section-paragraph-1 {
  width: 100%;
  color: rgba(0, 209, 255, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 40px;
  text-align: center;
}
.related-item-section-paragraph-2 {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  overflow-wrap: break-word;
}

/* SNSセクション */
.sns-section {
  width: 100%;
  height: auto;
}
.youtube-icon {
  width: auto;
}
.twitter-icon {
  width: auto;
}

/* フッターセクション */
.footer {
  width: 100%;
  height: 64px;
}
.footer-line {
  width: 100%;
  height: 2px;
  background: rgba(238, 238, 238, 1);
  opacity: 1;
  /* position: absolute; */
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.copyright {
  width: 440px;
  color: rgba(0, 0, 0, 1);
  /* position: absolute; */
  top: 47px;
  left: 265px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
a[target="_blank"] {
  padding-right: 22px;
  background: url(../images/icon_blank.png) right center/22px auto no-repeat;
}

@media screen and (max-width: 768px) {
  .title-section {
    flex-direction: column;
  }
}
