@charset "utf-8";

* {
  box-sizing: border-box;
}

/* 基本スタイル（PC向けスタイル） */
html {
  font-size: 14px;
}

/* ヘッダーセクション */
.header {
  width: 100%;
  height: 62px;
  background-color: rgba(255, 255, 255, 1);
}

/* タイトルセクション */
.title-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-logos {
  width: 460px;
  margin-left: 30px;
  margin-right: 30px;
}
.title-section-paragraph-1 {
  width: 100%;
  color: rgba(0, 209, 255, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 28px;
  text-align: center;
}
.title-img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.title-game-img {
  width: auto;
  height: auto;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

/* ゲームセクション */
.game-section {
  width: 100%;
  height: auto;
  background-color: rgba(0, 209, 255, 1);
  margin-top: 80px;
}
.game-section-paragraph-1 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 26px;
  text-align: center;
  padding-top: 20px;
}
.game-qr-background {
  width: 253px;
  height: 148px;
  background-position: center;
  background-color: rgba(255, 255, 255, 1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
}
.game-section-paragraph-2 {
  width: 100%;
  color: rgba(0, 209, 255, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 19px;
  text-align: center;
}
.game-qr {
  text-align: center;
}
.game-section-paragraph-3 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 19px;
  text-align: center;
  overflow-wrap: break-word;
}

/* ゲーム解説セクション */
.game-comment-section {
  width: 100%;
  height: auto;
  margin-top: 90px;
}
.game-comment-section-paragraph-1 {
  width: 100%;
  color: rgba(0, 209, 255, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 40px;
  text-align: center;
  overflow-wrap: break-word;
}
.game-comment-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.game-comments {
  width: 416px;
  margin-left: 30px;
  margin-right: 30px;
}
.game-comment-section-paragraph-2 {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 22px;
  text-align: left;
  overflow-wrap: break-word;
}
.game-comment-section-paragraph-3 {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 22px;
  text-align: left;
  overflow-wrap: break-word;
  margin-top: 30px;
}
.game-comment-images {
  margin-top: 40px;
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.content-game-img {
  margin-left: 20px;
  margin-right: 20px;
}
.result-game-img {
  margin-left: 20px;
  margin-right: 20px;
}

/* 企画説明セクション */
.plan-section {
  width: 100%;
  height: auto;
  margin-top: 90px;
}
.plan-section-paragraph-1 {
  width: 100%;
  color: rgba(0, 209, 255, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 40px;
  text-align: center;
}
.plan-section-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.plan-section-comments {
  width: 416px;
  margin-left: 20px;
  margin-right: 20px;
}
.plan-section-paragraph-2 {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 22px;
  text-align: left;
  overflow-wrap: break-word;
}
.plan-section-paragraph-3 {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 22px;
  text-align: left;
  overflow-wrap: break-word;
  margin-top: 30px;
}
.game-plan-img {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

/* 関連項目セクション */
.related-item-section {
  width: 100%;
  height: auto;
  margin-top: 90px;
}
.related-item-section-paragraph-1 {
  width: 100%;
  color: rgba(0, 209, 255, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 40px;
  text-align: center;
}
.related-item-section-paragraph-2 {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: center;
  overflow-wrap: break-word;
  margin-top: 40px;
}

/* SNSセクション */
.sns-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
.youtube-icon {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
}
.twitter-icon {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
}

/* フッターセクション */
.footer {
  width: 100%;
  height: 64px;
  margin-top: 50px;
}
.footer-line {
  width: 100%;
  height: 2px;
  background: rgb(238, 238, 238);
}
.copyright {
  width: 100%;
  color: rgb(126, 126, 126);
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
a[target="_blank"] {
  padding-right: 22px;
  background: url(../images/icon_blank.png) right center/22px auto no-repeat;
}

@media screen and (max-width: 768px) {
  /* タイトルセクション */
  .title-section {
    flex-direction: column;
  }
  .title-logos {
    width: 460px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .title-section-paragraph-1 {
    font-size: 28px;
  }
  .game-comment-flex {
    flex-direction: column;
  }
  .content-game-img {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .result-game-img {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .plan-section-flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 520px) {
  /* タイトルセクション */
  .title-section {
    flex-direction: column;
  }
  .title-logos {
    width: 460px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .title-section-paragraph-1 {
    font-size: 28px;
  }
  .game-comment-flex {
    flex-direction: column;
  }
  .content-game-img {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .result-game-img {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .plan-section-flex {
    flex-direction: column;
  }
}
